---
import { getRelativeLocaleUrl } from "astro:i18n";

import { useTranslations } from "../i18n/utils.ts";
import { languagesList, defaultLang } from "../i18n/ui.ts";

const currentLocale = Astro.currentLocale || defaultLang;
const t = useTranslations(currentLocale as keyof typeof languagesList);

import data from "@data/data.json";
const userData = data[currentLocale];

import ErrorLayout from "../layouts/ErrorLayout.astro";

const {
    pageTitle = userData.fullname + " | " + t("404.title"),
    pageDescription = userData.homeDescription,
    pageKeywords = userData.homeKeywords,
    fullname = userData.fullname,
    footerQuote = userData.signature,
    socials = userData.socials,
} = Astro.props;
---

<ErrorLayout
    pageTitle={pageTitle}
    pageDescription={pageDescription}
    pageKeywords={pageKeywords}
    fullname={fullname}
    footerQuote={footerQuote}
    socials={socials}
>
    <h2 class="error-title">{t("404.title.section")}</h2>
    <p class="error-subtitle">{t("404.subtitle.section")}</p>
    <p class="error-description">{t("404.description.section")}</p>
    <a href={getRelativeLocaleUrl(currentLocale, "/")} class="btn"
        >{t("404.text.button")}</a
    >
</ErrorLayout>

<script>
    if (typeof window !== "undefined") {
        window.addEventListener("DOMContentLoaded", () => {
            const button = document.querySelector(".btn");
            if (button) {
                setTimeout(() => {
                    button.click();
                }, 5000);
            }
        });
    }
</script>
